<div class="container-fluid">
    <form name="studentAddForm">
        <div class="row-fluid">
            <div class="well span6">
                <h2>Student Info:</h2>
                <div class="row-fluid">
                    <label class="span6">First Name:</label>
                    <input type="text" name="firstName" ng-model="newStudent.firstName"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Middle Name (optional):</label>
                    <input type="text" name="middleName" ng-model="newStudent.middleName">
                </div>
                <div class="row-fluid">
                    <label class="span6">Last Name:</label>
                    <input type="text" name="lastName" ng-model="newStudent.lastName"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Nick Name (optional):</label>
                    <input type="text" name="nickname" ng-model="newStudent.nickname">
                </div>
                <div class="row-fluid">
                    <label class="span6">Gender:</label>
                    <input type="radio" name="genderRadios" ng-model="newStudent.gender"
                           value="male" required> Male
                    <input type="radio" name="genderRadios" ng-model="newStudent.gender"
                           value="female" required> Female
                </div>
                <div class="row-fluid">
                    <label class="span6">Date of Birth:</label>
                    <input type="text" ui-date="dobOptions" name="dob" ng-model="newStudent.dob"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Place of Birth:</label>
                    <input type="text" name="birthplace" ng-model="newStudent.birthplace">
                </div>
                <div class="row-fluid">
                    <label class="span6">Ethnicity:</label>
                    <select ng-model="newStudent.ethnicityId" required>
                        <option ng-repeat="choice in ethnicityChoices"
                                value="{{choice._id.$oid}}">{{choice.displayName}}</option>
                    </select>
                </div>
                <div class="row-fluid">
                    <label class="span6">Home Address:</label>
                    <input type="text" name="homeAddr1" ng-model="newStudent.addr"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Home Address Cont.:</label>
                    <input type="text" name="homeAddr2" ng-model="newStudent.addrLine2">
                </div>
                <div class="row-fluid">
                    <label class="span6">City:</label>
                    <input type="text" name="city" ng-model="newStudent.addrCity"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">State:</label>
                    <input type="text" name="state" ng-model="newStudent.addrState"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Zip Code:</label>
                    <input type="text" name="zipCode" ng-model="newStudent.addrZipCode"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Name of most recent school/daycare/caregiver:</label>
                    <input type="text" name="mostRecentCare" ng-model="newStudent.mostRecentCare">
                </div>
                <div class="row-fluid">
                    <label class="span6">Years attended at most recent:</label>
                    <input type="text" name="mostRecentCareDates" ng-model="newStudent.mostRecentCareDates">
                </div>
                <div class="row-fluid">
                    <label class="span6">Enrollment Status:</label>
                    <select ng-model="newStudent.enrollmentStatus" required>
                        <option value="waitlist">Waitlist</option>
                        <option value="enrolled">Enrolled</option>
                        <option value="alum">Alum</option>
                        <option value="other">?Other?</option>
                    </select>
                </div>
                <div class="row-fluid">
                    <label class="span6">Weekly Schedule:</label>
                    <select ng-model="newStudent.weeklySchedule" required>
                        <option value="Full5">Full5</option>
                        <option value="Full3">Full3</option>
                        <option value="Full2">Full2</option>
                        <option value="AM5">AM5</option>
                        <option value="AM3">AM3</option>
                        <option value="AM2">AM2</option>
                        <option value="PM5">PM5</option>
                        <option value="PM3">PM3</option>
                        <option value="PM2">PM2</option>
                        <option value="other">Custom...</option>
                    </select>
                </div>
                <div class="row-fluid" ng-show="newStudent.weeklySchedule == 'other'">
                    <label class="span6">Custom Schedule:</label>
                    <div class="span4 well">
                        Monday AM:<input type="checkbox" name="custom.MonAm" ng-model="newStudent.customMonAm"><br/>
                        Monday PM:<input type="checkbox" name="custom.MonPm" ng-model="newStudent.customMonPm"><br/>
                        Tuesday AM:<input type="checkbox" name="custom.TueAm" ng-model="newStudent.customTueAm"><br/>
                        Tuesday PM:<input type="checkbox" name="custom.TuePm" ng-model="newStudent.customTuePm"><br/>
                        Wednesday AM:<input type="checkbox" name="custom.WedAm" ng-model="newStudent.customWedAm"><br/>
                        Wednesday PM:<input type="checkbox" name="custom.WedPm" ng-model="newStudent.customWedPm"><br/>
                        Thursday AM:<input type="checkbox" name="custom.ThuAm" ng-model="newStudent.customThuAm"><br/>
                        Thursday PM:<input type="checkbox" name="custom.ThuPm" ng-model="newStudent.customThuPm"><br/>
                        Friday AM:<input type="checkbox" name="custom.FriAm" ng-model="newStudent.customFriAm"><br/>
                        Friday PM:<input type="checkbox" name="custom.FriPm" ng-model="newStudent.customFriPm"><br/>
                    </div>
                </div>
                <div class="row-fluid">
                    <label class="span6">Start Date:</label>
                    <input type="text" ui-date="dateOptions" name="startDate" ng-model="newStudent.startDate"
                           ui-validate="{datesReversed:'datesReversedValidator($value)'}"
                           ui-validate-watch="'newStudent.endDate'">
                </div>
                <div class="row-fluid">
                    <label class="span6">End Date:</label>
                    <input type="text" ui-date="dateOptions" name="endDate" ng-model="newStudent.endDate">
                </div>
                <div class="alert" ng-show="studentAddForm.startDate.$error.datesReversed">
                    <strong>Invalid End Date!</strong> End Date must be later than Start Date.
                </div>
            </div>
            <div class="well span6">
                <h2>Parent/Guardian Info:</h2>
                <h3>Parent/Guardian #1</h3>
                <div class="row-fluid">
                    <label class="span6">Salutation:</label>
                    <select ng-model="newStudent.pg1Salutation" required>
                        <option value="Mrs">Mrs.</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms.</option>
                        <option value="Mr">Mr.</option>
                        <option value="Dr">Dr.</option>
                        <option value="other">?other?</option>
                    </select>
                </div>
                <div class="row-fluid">
                    <label class="span6">First Name:</label>
                    <input type="text" name="pg1FirstName" ng-model="newStudent.pg1FirstName"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Last Name:</label>
                    <input type="text" name="pg1LastName" ng-model="newStudent.pg1LastName"
                           required>
                </div>
                <div class="row-fluid">
                <label class="span6">Profession:</label>
                <input type="text" name="pg1Profession" ng-model="newStudent.pg1Profession"
                       required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Employer:</label>
                    <input type="text" name="pg1Employer" ng-model="newStudent.pg1Employer"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Employer Address:</label>
                    <input type="text" name="pg1EmployerAddr" ng-model="newStudent.pg1EmployerAddr">
                </div>
                <div class="row-fluid">
                    <label class="span6">Employer City:</label>
                    <input type="text" name="pg1EmployerCity" ng-model="newStudent.pg1EmployerCity"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Primary e-mail (for Windsor communication):</label>
                    <input type="email" name="pg1PrimaryEmail" ng-model="newStudent.pg1PrimaryEmail"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Secondary e-mail:</label>
                    <input type="email" name="pg1SecondaryEmail" ng-model="newStudent.pg1SecondaryEmail">
                </div>
                <div class="row-fluid">
                    <label class="span6">Business Telephone:</label>
                    <input type="text" name="pg1BusinessPhone" ng-model="newStudent.pg1BusinessPhone"
                           required>
                </div>
                <div class="row-fluid">
                    <label class="span6">Mobile Telephone:</label>
                    <input type="text" name="pg1MobilePhone" ng-model="newStudent.pg1MobilePhone"
                           required>
                </div>
                <hr/>
                <h3>Parent/Guardian #2</h3>
                <div class="row-fluid">
                    <label class="span6">Salutation:</label>
                    <select ng-model="newStudent.pg2Salutation">
                        <option value="Mrs">Mrs.</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms.</option>
                        <option value="Mr">Mr.</option>
                        <option value="Dr">Dr.</option>
                        <option value="other">?other?</option>
                    </select>
                </div>
                <div class="row-fluid">
                    <label class="span6">First Name:</label>
                    <input type="text" name="pg2FirstName" ng-model="newStudent.pg2FirstName">
                </div>
                <div class="row-fluid">
                    <label class="span6">Last Name:</label>
                    <input type="text" name="pg2LastName" ng-model="newStudent.pg2LastName">
                </div>
                <div class="row-fluid">
                    <label class="span6">Profession:</label>
                    <input type="text" name="pg2Profession" ng-model="newStudent.pg2Profession">
                </div>
                <div class="row-fluid">
                    <label class="span6">Employer:</label>
                    <input type="text" name="pg2Employer" ng-model="newStudent.pg2Employer">
                </div>
                <div class="row-fluid">
                    <label class="span6">Employer Address:</label>
                    <input type="text" name="pg2EmployerAddr" ng-model="newStudent.pg2EmployerAddr">
                </div>
                <div class="row-fluid">
                    <label class="span6">Employer City:</label>
                    <input type="text" name="pg2EmployerCity" ng-model="newStudent.pg2EmployerCity">
                </div>
                <div class="row-fluid">
                    <label class="span6">Primary e-mail (for Windsor communication):</label>
                    <input type="email" name="pg2PrimaryEmail" ng-model="newStudent.pg2PrimaryEmail">
                </div>
                <div class="row-fluid">
                    <label class="span6">Secondary e-mail:</label>
                    <input type="email" name="pg2SecondaryEmail" ng-model="newStudent.pg2SecondaryEmail">
                </div>
                <div class="row-fluid">
                    <label class="span6">Business Telephone:</label>
                    <input type="text" name="pg2BusinessPhone" ng-model="newStudent.pg2BusinessPhone">
                </div>
                <div class="row-fluid">
                    <label class="span6">Mobile Telephone:</label>
                    <input type="text" name="pg2MobilePhone" ng-model="newStudent.pg2MobilePhone">
                </div>
            </div>
        </div>
        <button class="btn btn-success"
                ng-disabled="studentAddForm.$invalid || studentAddForm.endDate.$error.datesReversed"
                ng-click="addStudent(newStudent)"><i class="icon-plus"></i> Add Student</button>
    </form>
</div>